html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}
body {
  margin: 0;
  line-height: 1.65;
  overflow-x: hidden;
  font-size: 16px;
  font-weight: 400;
  min-width: 320px;
  direction: ltr;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
html,
body {
  background-color: #fff;
  color: #111;
  font-family: "Raleway", sans-serif !important;
}
.footerless {
  min-height: calc(100vh - 80px);
}
footer {
  min-height: 60px;
  font-size: 0.9rem;
  background-image: linear-gradient(
    to bottom,
    #000000,
    #141414,
    #212121,
    #2f2f2f,
    #3d3d3d
  );
}
.navbar {
  background-image: linear-gradient(
    to right,
    #000000,
    #141414,
    #212121,
    #2f2f2f,
    #3d3d3d
  );
}
#navbar-main a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}
#navbar-main a:hover {
  color: #f70057;
}
#navbar-main li.nav-item {
  margin-right: 2em;
}
.content-container {
  padding-top: 5em;
  /*min-height: 620px;*/
}
::selection {
  background-color: #17a2b8;
  color: #fff;
}
.f-reset {
  font-size: 1rem;
}
.f0 {
  font-size: 1.802032470703125em;
}
.f1 {
  font-size: 1.601806640625em;
}
.f2 {
  font-size: 1.423828125em;
}
.f3 {
  font-size: 1.265625em;
}
.f4 {
  font-size: 1.125em;
}
.f5 {
  font-size: 0.8888888888888888em;
}
.f6 {
  font-size: 0.7901234567901234em;
}
.f7 {
  font-size: 0.5901234567901234em;
}
.fw1 {
  font-weight: 100;
}
.fw2 {
  font-weight: 200;
}
.fw3 {
  font-weight: 300;
}
.fw4 {
  font-weight: 400;
}
.fw5 {
  font-weight: 500;
}
.fw6 {
  font-weight: 600;
}
.fw7 {
  font-weight: 700;
}
.fw8 {
  font-weight: 800;
}
.fw9 {
  font-weight: 900;
}
.subtitle {
  color: #949494;
}
.mute {
  color: #757575;
}
.tl {
  color: #f1f1f1 !important;
}
.tlf {
  color: #8c8c8c;
}
.tc {
  text-align: center;
}
.c-success {
  color: green;
}
.c-white {
  color: #fff;
}
.c-black {
  color: black;
}
.c-primary {
  color: #3ba6d0;
}
.c-crimson {
  color: #f70057;
}
.c-crimson-hover:hover {
  color: #f70057 !important;
}
.btn-black {
  background-color: black !important;
}
.btn-crimson {
  background-color: #f70057 !important;
}
.btn-black:hover {
  border: 1px solid #f70057 !important;
  color: #f70057 !important;
}
.btn-crimson:hover {
  border: 1px solid black !important;
  color: black !important;
}
.btn-pulse {
  animation: shadow-pulse 1.8s infinite;
}
.btn-pulse:hover {
  -webkit-animation: none;
}
@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.32);
  }
  100% {
    box-shadow: 0 0 0 25px rgba(255, 255, 255, 0);
  }
}
.btn-pulse-black {
  animation: shadow-pulse-black 1.8s infinite;
}
.btn-pulse-black:hover {
  -webkit-animation: none;
}
@keyframes shadow-pulse-black {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.32);
  }
  100% {
    box-shadow: 0 0 0 25px rgba(255, 255, 255, 0);
  }
}
.btn-pulse-crimson {
  animation: shadow-pulse-crimson 1.8s infinite;
}
.btn-pulse-crimson:hover {
  -webkit-animation: none;
}
@keyframes shadow-pulse-crimson {
  0% {
    box-shadow: 0 0 0 0px rgba(247, 0, 87, 0.32);
  }
  100% {
    box-shadow: 0 0 0 25px rgba(255, 255, 255, 0);
  }
}
.bg-home {
  background-image: linear-gradient(
    to right top,
    #e60000,
    #f70057,
    #ef3b96,
    #d268c6,
    #ac89e2,
    #9096e8,
    #78a0e7,
    #68a8e1,
    #51a7d9,
    #3ba6d0,
    #27a4c5,
    #17a2b8
  );
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  height: 100%;
}
.bg-auth {
  background-image: linear-gradient(
    to right top,
    #e60000,
    #f70057,
    #ef3b96,
    #d268c6,
    #ac89e2,
    #9096e8,
    #78a0e7,
    #68a8e1,
    #51a7d9,
    #3ba6d0,
    #27a4c5,
    #17a2b8
  );
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  height: 100%;
}
.bg-radial {
  background-image: radial-gradient(
    circle,
    #d7d7d7,
    #d7d7d7 1px,
    #fff 1px,
    #fff
  );
  background-size: 22px 22px;
  color: black;
  height: 100%;
}
.splash {
  background-image: linear-gradient(
    to right top,
    #e60000,
    #f70057,
    #ef3b96,
    #d268c6,
    #ac89e2,
    #9096e8,
    #78a0e7,
    #68a8e1,
    #51a7d9,
    #3ba6d0,
    #27a4c5,
    #17a2b8
  );
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100px;
  color: #fff;
  padding-top: 6em;
  padding-bottom: 50px;
}
.ts1 {
  text-shadow: black 1px 1px;
}
